.priceContainer {
    width: 90%;
    margin: 8px auto;
    background-color: #fdf7f2;
    padding: 8px;
    position: relative;
}

.priceContainer img {
    display: none;
}

.priceContainer p {
    padding: 8px;
    font-size: 1.2rem;
}

.priceItems {
    text-align: center;
    border-radius: 20px;
    background-color: brown;
    margin-top: 5%;
    font-weight: bold;
}

.priceBox {
    display: flex;
}

.priceExplain {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    box-shadow: 14px 15px 1px -6px #49c8ca;
    border-radius: 20px;
    padding: 16px;
}

.pricesSet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 960px) {
    .priceItems {
        width: 15%;
    }
    .priceContainer {
        width: 95%;
        position: relative;
        max-width: 1200px;
        height: auto;
    }
    
    .priceItems2 {
        position: absolute;
        top: 31%;
        left: 45%;
    }

    .priceExplain2 {
        position: absolute;
        top: 41%;
        left: 45%;
    }

    .priceItems3 {
        margin-top: 35%;
    }

    .priceContainer img {
        display: block;
        position: absolute;
        left: 60%;
        top: 10%;
    }

    .priceContainer img:nth-child(2) {
        display: block;
        position: absolute;
        left: 20%;
        top: 40%;
    }

    .priceContainer img:nth-child(3) {
        display: block;
        position: absolute;
        left: 70%;
        top: 75%;
    }
}

@media screen and (min-width:768px) {
    .priceItems {
        width: 20%;
    }
}