/* contact form */
.fa-phone {
    margin-right: 8px;
    color: black;
}

.startingContainer p {
    font-size: 1rem;
    margin-top: 8px;
}

.headerContact {
    position: relative;
    color: white;
}

.headerContact::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 8px auto 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameInput,
.emailInput,
.msgInput {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

#message {
    width: 300px;
    height: 70px;
}

#email,
#name {
    height: 30px;
}

.btn2 {
    margin: 16px auto;
    width: 90px;
    height: 30px;
    border: 1px black solid;
    border-radius: 30px;
    transition: all 1s;
}

.btn2:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
}

@media screen and (min-width:768px) {
    .btn2 {
        font-size: 1.6rem;
        padding: 8px;
        width: 120px;
        height: 60px;
    }

    .infoContainer {
        margin: 5% auto;
        height: auto;
        width: 95%;
    }
}

.success-message {
    color: red;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 10px;
}
