/* footer */
 footer {
    text-align: center;
    margin-top: 10%;
}

@media screen and (min-width: 960px) {
    footer {
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }
} 